{% extends "base.html" %}
{% block meta %}
{% load static %}

{% endblock meta %}
{% block content %}


    <main>
        <section class="experience">
            <div class="container">
                <h2 class="section-title">EXPERIENCE</h2>
                <p class="section-desc">Where ideas became action and experience became growth.</p>

                <article class="experience-list">
                    {% for experience in experience_list %}
                        <div class="experience-item">
                            <div class="experience-card1">
                                <span class="experience-category">
                                    {{ experience.get_category_display }}
                                </span>
                                {% if experience.thumbnail %}
                                <img
                                    src="{{ experience.thumbnail }}"
                                    alt="{{ experience.title }}"
                                >
                            {% endif %}
                            </div>

                            <div class="experience-content">
                                <h3>{{ experience.title }}</h3>
                                {% if experience.is_ongoing %}
                                    <p class="experience-status">Sedang berlangsung</p>
                                {% else %}
                                    <p class="experience-status">Selesai</p>
                                {% endif %}
                                <p class="experience-desc">
                                    {{ experience.description }}
                                </p>
                            </div>
                        </div>

                    {% empty %}
                        <p>
                            Belum ada pengalaman yang ditambahkan.
                        </p>
                    {% endfor %}
                </article>
            </div>
        </section>
    </main>

{% endblock content %}