{% extends "base.html" %}
{% block meta %}
{% load static %}

{% endblock meta %}
{% block content %}


    <main>
        <section class="experience">
            <div class="container">
                <h2 class="section-title">EXPERIENCE</h2>
                <p class="section-desc">Where ideas became action and experience became growth.</p>

                <div class="add-header">
                    {% if user.is_superuser %}  
                        <a href="{% url 'main:create_experience' %}"
                        class="button add-button">
                            <span aria-hidden="true">+</span>
                            Tambah Pengalaman
                        </a>

                    {% endif %}
                </div>

                <form method="get"
                        action="{% url 'main:show_experience' %}"
                        class="search">
                    <input type="search"
                            name="title"
                            value="{{ title_query }}"
                            placeholder="Cari berdasarkan nama pengalaman"
                            class="search__input"
                            aria-label="Cari berdasarkan nama pengalaman">
                    <button type="submit" class="button">Cari</button>
                </form>

                <article class="experience-list">
                    {% for experience in experience_list %}
                        <div class="experience-item">
                            <div class="experience-card1">
                                <span class="experience-category">
                                    {{ experience.get_category_display }}
                                </span>
                                {% if experience.thumbnail %}
                                <img
                                    src="{{ experience.thumbnail }}"
                                    alt="{{ experience.title }}"
                                >
                            {% endif %}
                            </div>

                            <div class="experience-content">
                                <h3>{{ experience.title }}</h3>
                                {% if experience.is_ongoing %}
                                    <p class="experience-status">Sedang berlangsung</p>
                                {% else %}
                                    <p class="experience-status">Selesai</p>
                                {% endif %}
                                <p class="experience-desc">
                                    {{ experience.description }}
                                </p>

                                <div class="behaviour-experience">
                                    {% if user.is_superuser %}
                                        <a href="{% url 'main:update_experience' experience.id %}"
                                        class="button">
                                            Edit
                                        </a>
                                    {% endif %} 

                                    {% include "components/experience_star.html" with experience=experience %}
                            
                                    {% if user.is_superuser %}
                                        {% include "components/experience_delete_modal.html" with experience=experience %}
                                    {% endif %}    
                                </div>
                            </div>
                        </div>

                    {% empty %}
                        <p>
                            Belum ada pengalaman yang ditambahkan.
                        </p>
                    {% endfor %}
                </article>
            </div>
        </section>
    </main>

{% endblock content %}